* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header section style */
nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 140px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-menu {
  display: flex;

  list-style: none;
  gap: 30px;
  margin-top: 18px;
}
.nav-menu,
a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.nav-logo img {
  width: 27%;
  object-fit: cover;
}
.nav-title {
  text-align: center;

  font-size: 45px;
  font-weight: 700;
  padding: 20px;
}
.title-color {
  color: #ff42a5;
}
.follow-us-bg {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 5px;
  margin-bottom: 15px;
}
.follow {
  margin-top: -5px;
  display: flex;
  justify-content: space-evenly;
}

/* banner section style */

.banner {
  display: flex;
  justify-content: space-around;
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: 650px 850px;
}
.banner-title {
  color: #0b0223;
  text-align: center;
  font-size: 46px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title2 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-container li {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
.img-edit-banner {
  width: 520px;
  height: 520px;
}
.banner-container {
  margin-top: 100px;
}
.btn {
  gap: 30px;
}
.btn1 {
  padding: 18px 38px;
  gap: 10px;
  background: #ff42a5;
  border: none;
  border-radius: 45px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.btn2 {
  padding: 18px 38px;
  gap: 10px;
  background: #4ec5f7;
  border: none;
  border-radius: 45px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

/* cart-section */

.cart-contain {
  text-align: center;
  margin-top: 100px;
}

.cart-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cart-img {
  padding: 40px 140px;
}
.img3 {
  width: 255px;
  height: 300px;
}
.cart-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.cart-t {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.cart-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.img1 p{
    color: #534C64;
font-size: 15px;
font-weight: 500;
line-height: 30px; 
}

 /* play section style */

.play-instantly{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    
}
.play-img-edit{
    width: 374px;
    height: 405px;
   margin-left: 260px;

}
.play-img-edit1{
    width: 180px;
    height: 210px;
  margin-top: -155px;
 margin-left: 180px;
   
}
.play-instantly-t{
color: #F948B2;
font-size: 48px;
font-weight: 700;
line-height: 60px;
}
.play-title{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
line-height: 60px;

}

.play-description{
color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px; 

}
.play-container{
    text-align: center;
    margin-top: 100px;
    width: 50%;
}



@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    padding: 0px;
    align-items: center;
    padding-top: 20px;
  }

  .nav-menu {
    flex-direction: column;
  }

  .banner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .img-edit-banner {
    width: 316px;
    height: 316px;
  }

  .cart-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding:20px  67px;
}
.cart-title,.cart-t {
    font-size: 23px;
    font-weight: 700;
    
}
.cart-description {
    font-size: 10px;
    font-weight: 400;
  }
  .play-instantly{
    flex-direction: column;
    margin: 0px 100px;
    
}
.play-img-edit{
    width: 214px;
    height: 230px;
   margin-left: 0px;

}
.play-img-edit1{
    width: 90px;
    height: 110px;
  margin-top: -150px;
 margin-left: -20px;
   
}
.play-container{
    width: 350px;
    margin-left: -70px;
    margin-bottom: 50px;
}
}
/* tablet mode */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
    padding: 0px;
    align-items: center;
    padding-top: 20px;
  }

  .nav-menu {
    flex-direction: column;
  }

  .banner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .img-edit-banner {
    width: 316px;
    height: 316px;
  }

  
  .cart-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding:20px  255px;

}
.cart-title,.cart-t {
    font-size: 20px;
    font-weight: 700;
    
}
.cart-description {
    font-size: 10px;
    font-weight: 400;
  }
  .play-instantly{
    flex-direction: column;
    margin: 0px 100px;
}
.play-instantly{
    flex-direction: column;
    margin: 0px 100px;
    
}
.play-img-edit{
    width: 214px;
    height: 230px;
   margin-left: 220px;

}
.play-img-edit1{
    width: 90px;
    height: 110px;
  margin-top: -150px;
 margin-right: 220px;
   
}
.play-container{
    width: 350px;
    margin-left: 120px;
    margin-bottom: 50px;
}
}
